.about {
  .aboutText {
    font-family: Roboto;
    font-weight: 300;
    font-size: 24px;
    line-height: 160%;

    .cvLink {
      font-family: inherit;
      color: #000;
      font-weight: 400;
      transition: letter-spacing 0.3s;

      &:hover {
        letter-spacing: 0.05em;
      }
    }

    .projectsLink {
      font-family: inherit;
      color: #000;

      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 3px;
        bottom: -5px;

        width: 60%;
        height: 1px;

        background-color: rgba($color: #000000, $alpha: 0.6);
        transition: width 0.2s;
      }

      @media (any-hover: hover) {
        &:hover {
          &::before {
            width: 100%;
          }
        }
      }

      @media (max-width: 768px) {
        &::before {
          width: 100%;
        }

        font-weight: 400;
      }
    }

    @media (max-width: 768px) {
      font-size: 20px;
    }
    @media (max-width: 576px) {
      font-size: 18px;
    }
  }
}
