.projects {
  .projectsTitle {
    margin-bottom: 50px;
    @media (max-width: 960px) {
      text-align: center;
    }
  }

  .porjectsCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 960px) {
      flex-direction: column;
      gap: 15px;
    }
  }
}
